[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
dill = "*"
tqdm = "*"

[packages]
pytest = "*"
ipython = "*"
gym = "*"
matplotlib = "*"
docopt = "*"
pyyaml = "*"
pip = "*"
tensorboardx = "*"
opencv-python = "*"
torch = "*"
torchvision = "*"
ipdb = "*"
gym-rock-paper-scissors = "==0.1"
seaborn = "*"

[requires]
python_version = "3.6"
