[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
dill = "*"

[packages]
pytest = "*"
ipython = "*"
gym = "*"
gym-rock-paper-scissors = "==0.0.128"
matplotlib = "*"
docopt = "*"
pyyaml = "*"
pip = "*"
robosumo = {git = "https://github.com/openai/robosumo", editable = true}

[requires]
python_version = "3.6"
